* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a96635;
  font-family: "Roboto", sans-serif;
  color: #3b3838;
  min-width: 440px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 700;
}
nav a {
  padding-left: 20px;
}
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav div ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(to bottom, #a96635, #bf743d);
}

.navbar-light .navbar-nav .nav-link {
  color: #3b3838;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fa944a;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #000;
}

.imgCarrousel {
  min-width: 1180px;
  background-image: url("images/carrousel-img.jpg");
  background-size: cover;
  background-position: center;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #a96635, #bf743d);
}
.descripcion h2 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.descripcion p {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.descripcion img {
  max-width: 600px;
}

.descripcion-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0px 20px 120px;
}
.descripcion-texto .btn-primario {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
}
.descripcion-texto .btn-primario:hover {
  background-color: #000000;
  border: 1px solid #000000;
}
.descripcion-texto .btn-secundario {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #bf743d;
  color: #3b3838;
  border: 1px solid #3b3838;
}
.descripcion-texto .btn-secundario:hover {
  background-color: #000000;
  border: 1px solid #000000;
  color: #bf743d;
}

.productosRecomendados {
  padding-top: 65px;
}
.productosRecomendados h3 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  font-weight: bold;
  padding: 20px 20px;
  text-align: left;
  background-image: linear-gradient(to left, #a96635, #bf743d);
}
.productosRecomendados .product {
  text-align: center;
}
.productosRecomendados .product img {
  margin: 0 auto;
  max-width: 220px;
  border-radius: 180px;
  padding: 30px;
}
.productosRecomendados .product h4 {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 0;
}
.productosRecomendados .product .btn-highlight {
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #fa944a;
  color: #3b3838;
  border: 1px solid #fa944a;
}
.productosRecomendados .product .btn-highlight:hover {
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
}
.productosRecomendados .product span {
  font-size: 24px;
  font-weight: bold;
}

.bannerEnd {
  background-image: url("../images/banner-inferior.jpg");
  height: 500px;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 65px;
  margin-bottom: 60px;
  min-width: 400px;
}

.bannerEnd > * {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b3838;
  padding: 20px;
  background-color: #fa944a;
  padding-top: 40px;
}

.bannerEnd h3 {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 700;
  padding-top: 20px;
}
.bannerEnd a {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #bf743d;
  color: #3b3838;
  border: 1px solid #3b3838;
  background-color: #fa944a;
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.bannerEnd a:hover {
  background-color: #3b3838;
  color: #fa944a;
}

.titleImg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.titleImg h1 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 200px;
  line-height: 220px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 40px;
}
.titleImg p {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.titleImg nav {
  padding-top: 45px;
}
.titleImg img {
  width: 360px;
}
.titleImg a:hover {
  color: #fa944a;
}
.titleImg .breadcrumb-item.active {
  color: #fa944a;
}
.titleImg .breadcrumb-item.active::before {
  color: #fa944a;
}

.testimonial-text .box {
  border: 1px solid #fa944a;
  padding: 25px;
  border-radius: 12px;
  margin: 25px;
}
.testimonial-text h2 {
  color: #fa944a;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.testimonial-text p {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 15px 35px;
}
.testimonial-text img {
  max-width: 250px;
  border-radius: 200px;
  margin-bottom: 20px;
}

.equipo {
  background-image: linear-gradient(to bottom, #a96635, #bf743d);
}
.equipo h4 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 25px 0;
  font-size: 32px;
  line-height: 26px;
}
.equipo img {
  max-width: 170px;
  border-radius: 100px;
}
.equipo div {
  text-align: center;
}
.equipo div h2 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  padding-top: 20px;
}
.equipo div p {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 0 60px;
}

.banner-top {
  background-image: url(../images/contactenos.jpg);
  background-color: #a96635;
  height: 500px;
  background-position: center;
  background-size: contain;
  position: relative;
}
.banner-top h2 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3b3838;
  padding: 15px 50px;
  background-color: #a96635;
  border: 2px solid #3b3838;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}

.formulario p {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  background-image: linear-gradient(to left, #a96635, #bf743d);
  padding: 40px 20px 40px 40px;
  animation-duration: 10s;
  animation-name: aparecer;
  font-weight: bold;
  line-height: 90px;
}

.form {
  border: 1px solid #000;
  padding: 65px;
  overflow: hidden;
  text-align: left;
}
.form select {
  background-color: #fa944a;
}
.form textarea {
  width: 100%;
  height: 140px;
  background-color: #fa944a;
}
.form input {
  width: 100%;
  padding: 10px 15px;
  background-color: #fa944a;
  color: #3b3838;
}
.form label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
}
.form .btn-primario {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
}
.form .btn-primario:hover {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
  background-color: #000;
  color: #fa944a;
}

.gracias p {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  color: #fa944a;
  padding: 80px 40px;
  text-align: center;
  background-image: linear-gradient(to top, #a96635, #bf743d);
}

.productosCategoria {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  text-align: center;
  animation-duration: 6s;
  animation-name: aparecer;
}
.productosCategoria a {
  display: inline-block;
  color: #3b3838;
}
.productosCategoria article {
  border: #fa944a solid 1px;
  padding: 40px;
  width: 600px;
}
.productosCategoria a:hover {
  background-color: #fa944a;
  transform: scale(1.1, 1.1);
}
.productosCategoria img {
  width: 130px;
}
.productosCategoria h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 40px;
}

.boton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton a {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
  font-size: 16px;
}
.boton a:hover {
  background-color: #000;
}

.productosRelacionados {
  background-image: linear-gradient(to bottom, #a96635, #bf743d);
}
.productosRelacionados h2 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 44px;
  text-align: center;
}
.productosRelacionados a {
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #fa944a;
  color: #3b3838;
  border: 1px solid #fa944a;
}
.productosRelacionados a:hover {
  background-color: #3b3838;
  color: #fa944a;
}
.productosRelacionados .producto {
  text-align: center;
}
.productosRelacionados .producto img {
  margin: 0 auto;
  max-width: 200px;
  border-radius: 180px;
  padding: 20px;
}
.productosRelacionados .producto h4 {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 0;
}

.productDescription .columna {
  text-align: center;
}
.productDescription .columna .breadcrumb-item + .breadcrumb-item::before {
  color: #3b3838;
}
.productDescription .columna .breadcrumb-item.active {
  color: #fa944a;
}
.productDescription .columna .breadcrumb-item.active::before {
  color: #fa944a;
}
.productDescription h3 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 48px;
  padding-bottom: 20px;
  padding-top: 45px;
  font-weight: bold;
}
.productDescription p {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.productDescription img {
  max-width: 530px;
}
.productDescription a {
  padding-right: 15px;
}
.productDescription a:hover {
  color: #fa944a;
}
.productDescription form {
  padding-top: 25px;
}
.productDescription form label {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.productDescription .btn-primario {
  padding: 20px 40px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color: #3b3838;
  color: #a96635;
  border: 1px solid #3b3838;
  font-size: 16px;
}
.productDescription .btn-primario:hover {
  background-color: #000;
}

.masInfo {
  padding-top: 20px;
}
.masInfo h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.masInfo p {
  padding: 20px 40px 20px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}
.masInfo h4 {
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.footerMap {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footerDatos {
  flex: 3 1 auto;
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.footerDatos h5 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.footerRRSS {
  flex: 3 1 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-left: 1px solid #fa944a;
  margin-top: 20px;
  margin-bottom: 25px;
}
.footerRRSS h5 {
  font-size: 82px;
  line-height: 110px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}
.footerRRSS ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.footerRRSS ul li {
  list-style-type: none;
}
.footerRRSS ul li img {
  width: 60px;
}

@media only screen and (max-width: 1400px) {
  .form {
    margin-top: 40px;
  }

  .formulario p {
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .descripcion {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }

  .descripcion-texto {
    padding-left: 0;
  }

  .tituloDestacado {
    text-align: center;
  }

  .productosRecomendados h3 {
    text-align: center;
  }

  .col-img-monstera {
    display: none;
  }

  .titleImg h1 {
    font-size: 175px;
    line-height: 175px;
  }

  .formulario p {
    font-size: 62px;
    line-height: 62px;
  }

  footer {
    text-align: center;
    padding: 0;
  }
  footer ul {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .descripcion {
    padding: 0 35px;
  }

  .tituloDestacado {
    font-size: 72px;
    padding: 15px 15px 15px 0;
  }

  .productosRecomendados h3 {
    text-align: center;
    font-size: 64px;
  }

  .titleImg h1 {
    font-size: 120px;
    line-height: 120px;
  }

  .testimonial-text .box {
    width: 80%;
    text-align: center;
  }

  .testimonial-text img {
    align-self: center;
  }

  .productosCategoria article {
    width: 300px;
  }

  .productosCategoria h2 {
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
  }

  .productosCategoria img {
    width: 120px;
    margin-top: 20px;
  }

  .formulario p {
    font-size: 48px;
    line-height: 48px;
  }

  .gracias p {
    font-size: 60px;
    line-height: 60px;
  }

  footer {
    text-align: center;
    padding: 0;
  }
  footer ul {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
