.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 60px;
}
  
.footerMap{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.footerDatos{
    flex: 3 1 auto;
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    h5{
        @include titulos;
        font-size: 20px;
        line-height: 22px;
    }
}
.footerRRSS{
    flex: 3 1 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-left: 1px solid #fa944a;
    margin-top: 20px;
    margin-bottom: 25px;
    h5{
        @include titulos;
        font-size: 20px;
        line-height: 22px;
    }
    ul{
        display: flex;
        padding: 0;
        margin: 0;
        li{
            list-style-type: none;
            img{
                width: 60px;
            }
        }
    }
}