.imgCarrousel{
    min-width: 1180px;
    background-image: url('images/carrousel-img.jpg');
    background-size: cover;
    background-position: center;
  }

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.descripcion {
    @include flexCenter;
    background-image: $gradiente-bottom;
    h2 {
    @include titulos;
    @include aparecer-efecto(5s);
    }
    p {
    @include parrafos;
    }
    img {
        max-width: 600px;
        @include aparecer-efecto(4s);
    } 
    img:hover{
        transform: scale(1.2);
    }
    
}
.descripcion-texto {
    @include flexCenter;
    padding: 45px 0px 20px 120px; 
    .btn-primario {
        @include btn-primario;
    } 
    .btn-primario:hover{
        background-color: #000000;
        border: 1px solid #000000;
        color: $highlight;
    } 
    .btn-secundario {
        @include btn-secundario;
    } 
    .btn-secundario:hover {
        background-color: #000000;
        border: 1px solid #000000;
        color: $highlight;
    } 
}
.productosRecomendados {
    padding-top: 65px;
    h3{
        @include titulos;
        @include aparecer-efecto(10s);
        font-size: 48px;
        line-height: 54px;
        font-weight: bold;
        padding: 20px 20px;
        text-align: left;
        background-image: linear-gradient(to left, $colorPrimario, $colorBotones);
    }
    .product {
        text-align: center;
        img {
            margin: 0 auto;
            max-width: 220px;
            border-radius: 180px;
            padding: 30px;
        }
        img:hover{
            @include img-efecto;
        }
         h4{
            @include parrafos;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            padding: 0;
            }
        .btn-highlight{
            @include btn-highlight;
             }
        .btn-highlight:hover {
            padding: 10px 25px;
            text-transform: uppercase;
            font-family: $variableTexto;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 4px;
            background-color: #000;
            color: $highlight;
            border: 1px solid $colorSecundario;
        }
        span{
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.bannerEnd{
    background-image: url("../images/banner-inferior.jpg");
    height: 500px;
    background-position: center;
    background-size:contain;
    position: relative;
    margin-top: 65px;
    margin-bottom: 60px;
    min-width: 400px;
  }

  .bannerEnd > *{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $colorSecundario;
    padding: 20px;
    background-color: $highlight;
    padding-top: 40px;
}

.bannerEnd{
    h3 {
        font-family: $variableTitulo;
        font-size: 28px;
        font-weight: 700;
        padding-top: 20px;
    }
    a {
        @include btn-secundario;
        background-color: $highlight;
        display: inline-block;
        padding: 15px 30px;
        font-size:18px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    a:hover{
        background-color: $colorSecundario;
        color: $highlight; 
    }
}

.titleImg{
    @include flexCenter;
    h1{
        @include titulos;
        font-size: 200px;
        line-height: 220px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 40px;
        @include aparecer-efecto(4s);
    }
    p{
        @include parrafos;
    }
    nav{
        padding-top: 45px;
    }
    img{
        width: 360px;
    }
    img:hover{
        transform: rotate(-15deg);
    }
    a:hover{
        color: $highlight;
    }
    .breadcrumb-item.active{
        color: $highlight;
    }
    .breadcrumb-item.active::before{
        color: $highlight;
    }
    padding-bottom: 40px;
}

.testimonial-text {
    .box{
        border: 1px solid #fa944a;
        padding: 25px;
        border-radius: 12px;
        margin: 25px;
    }
    h2{
        color: $highlight;
        font-family: $variableTitulo;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
    }
    p {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: bold;
        padding:15px 35px;
    }
    img{
        max-width: 250px;
        border-radius: 200px;
        margin-bottom: 20px;
    }
}

.equipo{
    background-image: $gradiente-bottom;
    h4{
        @include titulos;
        padding: 25px 0;
        font-size: 32px;
        line-height: 26px;
    }
    img{
        max-width: 170px; 
        border-radius: 100px; 
    }
    img:hover{
        @include img-efecto;
    }
    div{
        text-align: center;
        h2{
            @include titulos;
            font-size:  48px;
            line-height: 50px;
            padding-top: 20px;
        }
        p {
            @include parrafos;
            font-size: 22px;
            padding: 0 60px;
        }
    }
}

.banner-top {
    background-image: url(../images/contactenos.jpg);
    background-color: $colorPrimario;
    height: 500px;
    background-position: center;
    background-size:contain;
    position: relative;
    h2{
        @include titulos;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $colorSecundario;
        padding: 15px 50px;
        background-color: $colorPrimario;
        border: 2px solid $colorSecundario;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 48px;
        font-weight: bold;
      }
}

.formulario {
    p{
    @include titulos;
    @include aparecer-efecto(5s);
    background-image: linear-gradient(to left, $colorPrimario, $colorBotones);
    padding: 40px 20px 40px 40px;
    font-weight: bold;
    line-height: 90px;
    }
}

.form {
    border: 1px solid #000;
    padding: 65px;
    overflow: hidden;
    text-align: left;
    select {
        background-color: $highlight;
    }
    textarea{
        width: 100%;
        height: 140px;
        background-color: $highlight;
    }
    input{
        width: 100%;
        padding: 10px 15px;
        background-color: $highlight;
        color: $colorSecundario;
    }
    label{
        font-family: $variableTexto;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 15px;
    }
    .btn-primario {
        @include btn-primario;
    }
    .btn-primario:hover{
        @include btn-primario;
        background-color: #000;
        color: $highlight;
    }
  }

  .gracias {
    p{
        @include titulos;
        font-size: 80px;
        line-height: 90px;
        font-weight: 700;
        color: $highlight;
        padding: 80px 40px;
        text-align: center;
        background-image: linear-gradient(to top, $colorPrimario, $colorBotones);
      }
  }

  .productosCategoria{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    text-align: center;
    @include aparecer-efecto(3s);
    a{
        display:inline-block;
        color: $colorSecundario;
      }
    article{
        border: $highlight solid 1px;
        padding: 40px;
        width: 600px;
      }
    a:hover{
        background-color: $highlight;
        transform: scale(1.1,1.1);
      }
    img{
        width: 130px;
      }
    h2{
        font-family: $variableTitulo;
        font-size: 36px;
        letter-spacing: 20px;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 40px;
      }
  }

  .boton{
      text-align: center;
      @include flexCenter;
    a{
        @include btn-primario;
        font-size: 16px;
    }
    a:hover{
        background-color: #000;
    }
  }

  .productosRelacionados {
      background-image: $gradiente-bottom;
      h2{
          @include titulos;
          font-size: 42px;
          line-height: 44px;
          text-align: center;
      }
      a{
          @include btn-highlight;
      }
      a:hover{
          background-color: $colorSecundario;
          color: $highlight;
      }
      
      .producto {
        text-align: center;
        img {
            margin: 0 auto;
            max-width: 200px;
            border-radius: 180px;
            padding: 20px;
        }
        img:hover{
            @include img-efecto;
        }
         h4{
            @include parrafos;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            padding: 0;
            }
    }
  }

  .productDescription{
    .columna{
       text-align: center;
       .breadcrumb-item+.breadcrumb-item::before{
           color: $colorSecundario;
       }
       .breadcrumb-item.active{
        color: $highlight;
        }
        .breadcrumb-item.active::before{
        color: $highlight;
        }
      }
      
    h3{
          @include titulos;
          font-size: 42px;
          line-height: 48px;
          padding-bottom: 20px;
          padding-top: 45px;
          font-weight: bold;
      }
    p{
        @include parrafos;
    }
    img{
          max-width: 530px;
      }
    a{
        padding-right: 15px;
    }
    a:hover{
        color: $highlight;
    }
    form{
        padding-top: 25px;
        label{
            font-family: $variableTexto; 
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 4px;
            padding-right: 20px;
            padding-bottom: 20px;
            font-weight: bold;
        }
    }
    .btn-primario{
        @include btn-primario;
        font-size: 16px;
    }
    .btn-primario:hover{
        background-color: #000;
        color: $highlight;
    }
  }

  .masInfo{
      padding-top: 20px;
      h3{
          font-family: $variableTitulo;
          font-weight: bold;;
      }
      p{
          @include parrafos;
          padding-top: 10px;
      }
      h4{
          padding-top: 15px;
          text-transform: uppercase;
          font-size: 18px;
          font-weight: bold;
      }
  }